body{
    background-color: rgb(23, 118, 150);
}
h1{
    color: crimson;
    font-size: 30px;
    text-align: center;
}

p{
    color: rgba(17, 0, 0, 0.959) ;
    font-size: 20px;
    text-align: justify;
}